<!DOCTYPE html>
<html>
  <!-- By Michael Mitrakos -->

<head>

  <!-- Place these first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title (mandatory) -->
  <title>Project Civility</title>

  <!-- These meta tags are recognised by Google -->
  <meta name="description" content="The workouts and diet of Mike Mitrakos">
  <meta name="robots" content="robots.txt">

  <!-- Site styles and authors -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet"
   href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="styles/style.css" rel="stylesheet">
  <link href="humans.txt" rel="author">

  <!-- HTML5 shim for older version of IE -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Open Graph protocol  -->
  <meta property="og:title" content="Project Civility">
  <meta property="og:type" content="https://www.projectcivility.com">
  <meta property="og:image" content="https://example.com/image.jpg">
  <meta property="og:url" content="https://www.projectcivility.com">
  <meta property="og:description" content="The initiative to foster campus climates and cultures where respect and understanding are equal in importance to the learning and education that occurs.">
  <meta property="og:site_name" content="Project Civility">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="Michael Mitrakos">

</head>

<body ng-app="PCApp" ng-controller="PCCtrl" ng-cloak>

  <div layout="row" layout-xs="column" class="main-page">
    <div flex>
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="Home">
          <md-content>
            <h1 class="md-display-2 section-title">Project Civility</h1>

          </md-content>
        </md-tab>

        <md-tab label="Mission">
          <md-content class="md-padding">
            <h1 class="md-display-2 section-title">Project Civility's Mission</h1>
            <p class="mission-paragraph md-title">Project Civility is an initiative conceived by the Hamilton campus Student Government Association (SGA) in response to rude, disrespectful and hurtful comments and behaviors demonstrated by students at the beginning of the 2011-12 academic year. The organization is intended to foster climates and cultures at Miami University and around the world where civility, respect, and understanding are essential to the communities in which we live and serve. The initiative requires an on-going effort as we strive to make the world feel friendly, welcoming, and accepting of everyone.</p>
            <br>
            <p class="md-title">Have a question? Get in touch with us at adesehso@miamioh.edu</p>
          </md-content>
        </md-tab>

        <!-- Schools Section -->
        <md-tab label="Schools">
          <md-content class="md-padding">
            <h1 class="md-display-2 section-title">Our Chapters</h1>
            <div ng-repeat="school in schools" layout-align="center center" layout-margin layout-padding>
              <md-card layout="row" class="school-card">
                <img ng-src="{{school.imageUrl}}" class="spinner school-picture" imageonload/>
                <span class="loading"> <img src="https://www.yugma.com/images/loading-animation-7.gif"/></span>
                <div layout="column" layout-margin layout-padding>
                  <p class="md-display-5 school-font-name"><a ng-href="{{school.url}}" target="_blank">{{school.name}}</a></p>
                  <p class="md-display-6 school-font-name">Members: {{school.members}}</p>
                </div>
              </md-card>
            </div>
            <br><h3 class="md-display-5 md-title">Bring Project Civility to your school <a ng-href="">NOW!</a></h3>
          </md-content>
        </md-tab>

        <!-- Articles Section -->
        <md-tab label="Articles">
          <md-content class="md-padding">
            <h1 class="md-display-2 section-title">Articles</h1>
            <div ng-repeat="article in articles" layout="row" layout-padding layout-margin>
              <md-card class="article-card" flex>
                <h3 class="md-title"><strong> <a ng-href="{{article.url}}" target="_blank">{{article.title}}</a> </strong></h3>
                <p><strong>Date: </strong>{{article.date}} </p><br>
                <md-divider></md-divider><br>
                <p><strong></strong> {{article.exampleText}} </p><br>
              </md-card>
            </div>
          </md-content>
        </md-tab>

      </md-tabs>
    </div>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    angular.module('PCApp', ['ngMaterial']);
  </script>

  <script src="scripts/main.js"></script>
</body>
</html>
