<nav class="footer">
  <div class="container-fluid">

    <div layout="row" layout-align="center">
      <ul class="icons">
        <md-button aria-label="Facebook" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="">
          <ng-md-icon icon="facebook" class="social-icon" style="fill: #43609F" size="30"></ng-md-icon>
        </md-button>
        <md-button aria-label="Twitter" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="">
          <ng-md-icon icon="twitter" class="social-icon" style="fill: #059FF5" size="31"></ng-md-icon>
        </md-button>
        <md-button aria-label="LinkedIn" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="">
          <ng-md-icon icon="linkedin" class="social-icon" style="fill: #0F86BF" size="31"></ng-md-icon>
        </md-button>

        <div layout="row">
          <p class="footer-text">Careers</p>
          <p class="footer-text">Contact</p>
          <p class="footer-text">Team</p>
          <p class="footer-text">Membership</p>
          <p class="footer-text">About</p>
        </div>

      </ul>
    </div>

  </div>
</nav>
